[
        {
            "name": "qute",
            "command": ["qutebrowser", "https://google.com"]
        },
        {
            "name": "gmail",
            "command": ["qutebrowser", "https://gmail.com"],
        },
        {
            "name": "up"
        },
        {
            "name": "calendar",
            "command": ["qutebrowser", "https://calendar.google.com"]
        },
        {
            "name": "reddit",
            "command": ["qute", "https://reddit.com"]
        },
        {
            "name": "youtube",
            "command": ["qute", "https://youtube.com"]
        },
        {
            "name": "left"
        },
        {
            "name": "ai",
            "command": ["openai.sh"]
        },
        {
            "name": "right"
        },
        {

        },
        {
            "name": "spotify",
            "command": ["ncspot.sh"]
        },
        {
            "name": "play",
            "command": ["playerctl", "--player=ncspot", "play-pause"]
        },
        {
            "name": "down"
        },
        {
            "name": "reload"
        },
        {
            "name": "exit"
        }
    ],
